@import "@fontsource/maple-mono";

@font-face {
  font-family: "Maple Mono";
}

html {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  min-height: fill-available;
  min-height: 100dvh;
}

body {
  --horizontal-margin: 20%;

  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  min-height: fill-available;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

* {
  box-sizing: border-box;
  color: #cdd6f4;
  font-family: "Maple Mono";
}

code {
  font-size: 2.2vh;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}
