---
import "../styles/global.css";
import Friend from "../components/Friends.astro";
import NixStore from "../components/NixStore.astro";
import CenteredBody from "../components/CenteredBody.astro";
import { Image } from "astro:assets";
import elissa from "../assets/88x31.png";
import minky from "../assets/god.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.discordapp.com/avatars/381494697073573899/0dd0e1851432b71ed48ec332cca0a35b.png?size=32"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="darkreader-lock" />
    <title>elissa's hideout</title>
  </head>
  <body>
    <NixStore />
    <CenteredBody>
      <section>
        <div class="elissa">
          <h1>Haiii</h1>
          <p>
            My name is Elissa and I'm a first year compsci student. I like
            everything related to linux, nix, FOSS and self hosting.
          </p>
        </div>
      </section>
      <section>
        <div class="friends">
          <h1>Cute ppl</h1>
          <h2>vencordians</h2>
          <Friend name="zt64" url="https://zt64.dev/" />
          <Friend name="paige" url="https://codeberg.com/paige" source="cobu" />
          <Friend name="Vendicated" url="https://vendicated.dev/" />
          <Friend name="sadan4" url="https://sadan.zip" />
          <Friend name="shoritsu" url="https://shoritsu.xyz/" />
          <Friend name="nin0-dev" url="https://nin0.dev/" />
          <Friend name="uncutified" url="https://uncutified.moe" />
          <h2>nixxers</h2>
          <Friend name="isabelroses" url="https://isabelroses.com" />
          <Friend name="comfysage" url="https://robinroses.xyz/" />
          <Friend name="BatteredBunny" url="https://tired.moe/" />

          <h2>88x31</h2>
          <p>
            <Image
              src={elissa}
              alt="my 88x31 made by paige"
              width="88"
              height="31"
            />
          </p>
          <a
            href="https://vendicated.dev"
            title="vending machine"
            rel="nofollow"
          >
            <img
              src="https://vendicated.dev/assets/88x31/me.gif"
              alt=""
              width="88"
              height="31"
            />
          </a>
          <a href="https://isabelroses.com" title="isabel roses" rel="nofollow">
            <img
              src="https://isabelroses.com/badges/me.gif"
              alt=""
              width="88"
              height="31"
            />
          </a>
        </div>
      </section>
      <section>
        <div class="minky">
          <h1>Minky</h1>
          <Image src={minky} alt="picture of our overlord" />
        </div>
      </section>
    </CenteredBody>
  </body>
</html>

<style>
  .elissa {
    border-radius: 15px;
    border: 2px solid #f5c2e7;
    background-color: #1e1e2e;
    padding: 10px;
  }

  .friends {
    margin-top: 30px;
    border-radius: 15px;
    border: 2px solid #f5c2e7;
    background-color: #1e1e2e;
    padding: 10px;
  }

  .minky {
    margin-top: 30px;
    border-radius: 15px;
    border: 2px solid #f5c2e7;
    background-color: #1e1e2e;
    padding: 10px;
  }
</style>
