---
import "../styles/global.css";
import Friend from "../components/Friends.astro";
import Button88x31 from "../components/Buttons.astro";
import NixStore from "../components/NixStore.astro";
import CenteredBody from "../components/CenteredBody.astro";
import { Image } from "astro:assets";
import minky from "../assets/god.jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.discordapp.com/avatars/381494697073573899/0dd0e1851432b71ed48ec332cca0a35b.png?size=32"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="darkreader-lock" />
    <title>elissa's hideout</title>
  </head>
  <body>
    <NixStore />
    <CenteredBody>
      <section>
        <div class="elissa">
          <h1>Haiii</h1>
          <p>
            My name is Elissa and I'm a first year compsci student. I like
            everything related to linux, nix, FOSS and self hosting.
          </p>
        </div>
      </section>
      <section>
        <div class="friends">
          <h1>Cute ppl</h1>
          <h2>vencordians</h2>
          <Friend name="zt64" url="https://zt64.dev/" />
          <Friend name="paige" url="https://codeberg.org/paige" source="cobu" />
          <Friend name="Vendicated" url="https://vendicated.dev/" />
          <Friend name="llsc12" url="https://llsc12.me/" />
          <Friend name="sadan4" url="https://sadan.zip/" />
          <Friend name="shoritsu" url="https://shoritsu.xyz/" />
          <Friend name="nin0-dev" url="https://nin0.dev/" />
          <Friend name="uncutified" url="https://uncutified.moe" />
          <h2>hell :3</h2>
          <Friend name="isabelroses" url="https://isabelroses.com" />
          <Friend name="comfysage" url="https://robinroses.xyz/" />
          <Friend name="BatteredBunny" url="https://tired.moe/" />
          <Friend
            name="thundertheidiot"
            url="https://github.com/thundertheidiot"
          />

          <h2>88x31</h2>
          <Button88x31 name="me" url="/" title="my own one made by paige <3" />
          <p class="buttons">
            <Button88x31 name="vendicated" url="https://vendicated.dev/" />
            <Button88x31 name="isabelroses" url="https://isabelroses.com/" />
            <Button88x31 name="robinroses" url="https://robinroses.xyz/" />
            <Button88x31 name="zoot" url="https://zt64.dev/" />
            <Button88x31 name="paige" url="https://codeberg.org/paige" />
            <Button88x31 name="salad" url="https://sadan.zip/" />
            <Button88x31 name="ninuh" url="https://nin0.dev/" />
            <Button88x31 name="kaya" url="https://tired.moe/" />
            <Button88x31 name="recutified" url="https://uncutified.moe/" />
            <Button88x31 name="wing" url="https://wingio.xyz/" />
            <Button88x31 name="chloe" url="https://sapphic.moe/" />
            <Button88x31 name="sketch" url="https://sketchni.uk/" />
            <Button88x31 name="rushii" url="https://rushii.dev/" />
            <Button88x31 name="sydney" url="https://sydney.blue/" />
            <Button88x31 name="wearr" url="https://wearr.dev/" />
            <Button88x31 name="caitlyn" url="https://caitlyn.moe/" />
            <Button88x31 name="diza" url="https://dbw.neocities.org/" />
            <Button88x31 name="tasky" url="https://tasky.nuxt.dev/" />
            <Button88x31 name="marvin" url="https://nurmarv.in/" />
            <Button88x31 name="samara" url="https://khcrysalis.dev/" />
            <Button88x31 name="alyxia" url="https://alyxia.dev/" />
          </p>
        </div>
      </section>
      <section>
        <div class="minky">
          <h1>Minky</h1>
          <Image src={minky} alt="picture of our overlord" />
        </div>
      </section>
    </CenteredBody>
  </body>
</html>

<style>
  .elissa {
    border-radius: 15px;
    border: 2px solid #f5c2e7;
    background-color: #1e1e2e;
    padding: 10px;
  }

  .friends {
    margin-top: 30px;
    border-radius: 15px;
    border: 2px solid #f5c2e7;
    background-color: #1e1e2e;
    padding: 10px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .minky {
    margin-top: 30px;
    border-radius: 15px;
    border: 2px solid #f5c2e7;
    background-color: #1e1e2e;
    padding: 10px;
  }
</style>
